*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
/******************************************************* HEADER */
header {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}

.logo {
  height: clamp(1.875rem, 0.1014rem + 4.0541vw, 3.75rem);
  margin-left: 100px;
}

/******************************************************* MAIN */
main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 140px;
}

/***************************** Infos, contact et photo du photograph */
.photographer_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: max-content;
  width: 90%;
  border-radius: 0px;
  background-color: #fafafa;
}

/*************** Infos */
.photographer_profile {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%;
  padding-left: 6vw;
}

.photographer_profile h2 {
  font-size: clamp(1rem, -1.5946rem + 6.2162vw, 4rem);
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: #d3573c;
}

.photographer_profile h3 {
  font-size: clamp(0.75rem, 0.0405rem + 1.6216vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  margin: 5px 0;
  color: #901c1c;
}

.photographer_profile p {
  font-size: clamp(0.625rem, 0.152rem + 1.0811vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  margin: 5px 0;
}

/*************** Contact */
.photographer_contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_button {
  font-size: clamp(0.625rem, 0.0338rem + 1.3514vw, 1.25rem) /*18px*/;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: clamp(5.3125rem, 2.1115rem + 9.4595vw, 10.625rem);
  height: clamp(2.1875rem, 0.1182rem + 4.7297vw, 4.375rem);
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*************** Picture */
.photographer_picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photographer_picture img {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  object-fit: cover;
}

/*************** Tri */

.photographer_sort {
  display: flex;
  width: 90%;
  height: clamp(0.625rem, 0.152rem + 1.0811vw, 1.125rem) /*18px*/;
  margin: 0 30px 0 -10px;
}

.photographer_sort .tri_text,
.photographer_sort .sort_dropdown {
  font-size: clamp(0.625rem, 0.152rem + 1.0811vw, 1.125rem) /*18px*/;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.tri_text {
  margin-top: clamp(0.5rem, 0.0861rem + 0.9459vw, 0.9375rem); /*15px*/
  margin-right: clamp(0.9375rem, 0.0507rem + 2.027vw, 1.875rem); /*30px*/
  margin-left: clamp(-0.375rem, -0.1385rem + -0.5405vw, -0.625rem); /*-10px*/
}

.photographer_sort {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: clamp(1.5625rem, -0.3906rem + 6.25vw, 3.125rem); /*50px*/
  height: clamp(1.5625rem, -0.3906rem + 6.25vw, 3.125rem); /*50px*/
}

.sort_dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 12px;
  width: clamp(6.25rem, 2.1115rem + 9.4595vw, 10.625rem); /*170px*/
  height: clamp(0.9375rem, 0.0507rem + 2.027vw, 1.875rem); /*30px*/
  border: none;
  border-radius: 10px;
  background-color: #901c1c;
  /* transition: 0.5s; */
}

.sort_dropdown:focus,
.sort_dropdown:hover {
  position: relative;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.0338rem + 1.3514vw, 1.25rem); /*18px*/
  font-weight: 700;
  color: white;
  padding: 4px 12px;
  width: clamp(6.25rem, 2.1115rem + 9.4595vw, 10.625rem); /*170px*/
  height: clamp(5rem, 0.8615rem + 9.4595vw, 9.375rem); /*150px*/
  border: none;
  z-index: 2;
}

.sort_dropdown > .pos2,
.sort_dropdown > .pos3 {
  display: none;
}

.sort_dropdown:focus > .pos2,
.sort_dropdown:focus > .pos3,
.sort_dropdown:hover > .pos2,
.sort_dropdown:hover > .pos3 {
  display: block;
}

.pos1,
.pos2,
.pos3 {
  text-align: left;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.0338rem + 1.3514vw, 1.25rem); /*18px*/
  font-weight: 700;
  color: white;
  width: 100%;
  border: none;
  background-color: #901c1c;
}

.pos1,
.pos3 {
  height: clamp(1.75rem, 0.0946rem + 3.7838vw, 3.5rem); /*56px*/
}

.pos2 {
  position: relative;
  height: clamp(1.75rem, 0.0946rem + 3.7838vw, 3.5rem); /*56px*/
}

.pos2::after,
.pos2::before {
  position: absolute;
  content: "";
  border-top: 1px solid #fff;
  width: 100%;
  left: 0;
}

.pos2::after {
  top: 0;
}

.pos2::before {
  bottom: 0;
}

.fa-chevron-down,
.fa-chevron-up {
  z-index: 3;
  display: block;
  position: absolute;
  top: clamp(0.625rem, 0.0929rem + 1.2162vw, 1.1875rem); /*19px*/
  right: clamp(0.375rem, 0.1385rem + 0.5405vw, 0.625rem); /*10px*/
}

/***************************** Images */
.photographer_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: clamp(0.625rem, 0.0338rem + 1.3514vw, 1.25rem);
  column-gap: clamp(3.75rem, 0.2027rem + 8.1081vw, 7.5rem);
  width: 90%;
  height: max-content;
  margin-top: 50px;
}

.photographer_images article {
  width: 100%;
  height: max-content;
}
.photographer_images article img,
.photographer_images article video {
  width: 100%;
  aspect-ratio: 3.5/3;
  object-fit: cover;
}

.photographer_images article p {
  font-size: clamp(0.75rem, 0.0405rem + 1.6216vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  margin: 12px 0;
}

.photographer_images article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #901c1c;
}

.localCounter {
  margin-right: 10px;
  font-size: clamp(0.75rem, 0.0405rem + 1.6216vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.liked {
  color: #d3573c;
}

/***************************** Likes et taux journalier */
.cta_all {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 376px;
  right: 5%;
  bottom: 0;
  border-radius: 5px;
  background: #db8876;
  position: fixed;
}

.cta_heart,
.cta_days {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}

.btn_heart {
  cursor: pointer;
}
/******************************************************* MODAL */
#contact_modal {
  display: none;
}

.modal {
  position: fixed;
  top: 5%;
  left: 10%;
  /* bottom: 10%; */
  right: 10%;
  border-radius: 5px;
  background-color: #db8876;
  width: clamp(25rem, 15.5405rem + 21.6216vw, 35rem);
  height: max-content;
  /* min-height: 700px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  width: 90%;
  height: 50px;
  font-size: clamp(2rem, 0.1081rem + 4.3243vw, 4rem);
  font-style: normal;
  font-weight: 400;
}

.modal header img {
  cursor: pointer;
  width: clamp(1.25rem, -0.5236rem + 4.0541vw, 3.125rem);
  aspect-ratio: 1/1;
}

.modal header h2 {
  font-size: clamp(2rem, 0.1081rem + 4.3243vw, 4rem);
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.modal header .modal_photographer_name {
  position: absolute;
  top: 55px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding-top: clamp(6.25rem, 0.3378rem + 13.5135vw, 12.5rem);
}

form label {
  color: #312e2e;
  font-size: clamp(1.125rem, 0.0608rem + 2.4324vw, 2.25rem);
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: clamp(0.8125rem, 0.0439rem + 1.7568vw, 1.625rem);
}

form input {
  width: 100%;
  height: clamp(2.125rem, 0.1149rem + 4.5946vw, 4.25rem);
  border: none;
  border-radius: 5px;
}

form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: clamp(4.6875rem, 0.2534rem + 10.1351vw, 9.375rem);
  max-height: clamp(7.8125rem, 0.4223rem + 16.8919vw, 15.625rem);
}

/******************************************************* LIGHTBOX */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__preview {
  border: none;
  background: url(../assets/icons/vector.svg) center center / 32px 56px no-repeat;
  color: #911c1c;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}

.lightbox__next:hover,
.lightbox__preview:hover {
  opacity: 1;
}

.lightbox__preview {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

.lightbox__close {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/icons/closeLigthbox.svg) center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 12;
}

.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -5000px;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__container img,
.lightbox__container video {
  max-width: 70%;
  max-height: 80vh;
  height: auto;
  animation: lightboxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

.lightbox__loader {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  background: url(../assets/icons/loader.svg) center center / 100% 100% no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
